___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [174]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        # if(a < b):
        #     return a;
        # else:
        #     return b;
        return min(a,b)
    else :
        # if a > b :
        #     return a;
        # else:
        #     return b;
        return max(a,b)

In [175]:
# Check
lesser_of_two_evens(2,4)

2

In [176]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [177]:
def animal_crackers(text):
    separated_text = text.split();
    # if separated_text[0][0] == separated_text[1][0]:
    #     return True;
    # else:
    #     return False;
    return separated_text[0][0] == separated_text[1][0]

In [178]:
# Check
animal_crackers('Levelheaded Llama')

True

In [25]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [179]:
def makes_twenty(n1,n2):
    # if (n1 == 20 or n2 == 20) or (n1 + n2 == 20):
    #     return True;
    # else:
    #     return False;
    return (n1 == 20 or n2 == 20) or (n1 + n2 == 20)

In [180]:
# Check
makes_twenty(20,10)

True

In [181]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [182]:
def old_macdonald(name):
    # name = name.replace(name[0], name[0].upper(),1)
    # name = name.replace(name[3], name[3].upper(),1)
    # return name;
    return (name[:3].capitalize() + name[3:].capitalize())

In [183]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [194]:
def master_yoda(text):
    # splitted_text = text.split();
    # a = splitted_text.reverse();
    # another way here 
    print(" ".join(text.split()[::-1]))

In [195]:
# Check
master_yoda('I am home')

home am I

In [67]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [201]:
def almost_there(n):
    # return n in range(100, 110) or n in range(200, 210)
    # OR
    return abs(100-n) <= 10 or abs(200 - n) <= 10

In [202]:
# Check
almost_there(104)

True

In [203]:
# Check
almost_there(150)

False

In [204]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [213]:
def has_33(nums):
    # first_three = [0,0];
    # for i,v in enumerate(nums):
    #     if v == 3 and first_three[1] != 3:
    #         first_three[1] = v;
    #         first_three[0] = i;
    #     elif v == 3 and first_three[1] == 3 and i -1 == first_three[0]:
    #         return True;
    #     else :
    #         pass
    # OR
    for i in range(len(nums)-1):
        # if(nums[i] == 3 and nums[i+1] == 3):
        # less readable more optimized
        if nums[i:i+2] == [3,3]:
            return True;
    return False;

In [214]:
# Check
has_33([1, 3, 3])

True

In [215]:
# Check
has_33([1, 3, 1, 3])

False

In [216]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [220]:
def paper_doll(text):
    repeated_string = '';
    for i in text:
        # for j in range(3):
        #     repeated_string += i;
        # You can also reapeat the letters or strings using * sign.
        repeated_string += i * 3

    return repeated_string

In [218]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [219]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [227]:
def blackjack(a,b,c):
    addition = sum((a,b,c));
    # if addition <= 21:
    #     return addition;
    # elif addition > 21:
    #     if (a == 11 or b == 11 or c == 11) :
    #         addition -=10;
    #     if (addition > 21) :
    #         return 'BUST'
    #     else :
    #         return addition;
    if addition <= 21: 
        return addition;
    elif addition <=31 and 11 in (a,b,c):
       return addition - 10;
    else:
        return "BUST";

In [228]:
# Check
blackjack(5,6,7)

18

In [229]:
# Check
blackjack(9,9,9)

'BUST'

In [232]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [245]:
def summer_69(arr):
    sum = 0;
    add_state = True;
    for i in arr:
        # if(i in range(6,10)):
        #     pass
        # else:
        #     sum += i;
        if i == 6:
            add_state = False;
        elif i == 9 and add_state == False:
            add_state = True;
        elif add_state:
            sum += i;
    return sum;

In [246]:
# Check
summer_69([1, 3, 5])

9

In [247]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [248]:
# Check
# summer_69([2, 1, 6, 9, 11])
print(summer_69([1, 2, 2, 6, 99, 99, 9]))

5

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [256]:
def spy_game(nums):
    # james_bond = "";
    # for i in nums:
    #     zero_occurences = 0;
    #     zero_occurences = james_bond.count('0');
    #     # for j in james_bond:
    #     #     if j == '0':
    #     #         zero_occurences += 1;
    #     #     else  :
    #     #         zero_occurences = -1;
 
    #     # if i == 0 and zero_occurences <= 2 and zero_occurences != -1:
    #     #     james_bond += str(i);
    #     # elif i == 7 and zero_occurences == 2 and zero_occurences != -1:
    #     #     james_bond += str(i);
    #     #     break;
    #     # commented one one is longer and unoptimized.
    #     if i == 0 and zero_occurences <= 2:
    #         james_bond += str(i);
    #     elif i == 7 and zero_occurences == 2:
    #         james_bond += str(i);

    # if james_bond == '007':
    #     return True;
    # else :
    #     return False;

    code = [0,0,7];
    for num in nums:
        if(num == code[0]):
            code.pop(0);
        if not code:
            return True
    return False;

In [257]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
# spy_game([1,7,2,0,4,5,0])
spy_game([0,0,0,7])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [5]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [6]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!